/* Header principal */
.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px; /* un poco más alto para el logo grande */
  padding: 0 2rem;
  background: linear-gradient(90deg, #7b1f1f, #3e1f1f);
  color: #fffbea;
  font-family: 'Montserrat',  sans-serif;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.45);
  z-index: 1200;
}

/* Contenedores */
.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-spacer {
  flex-grow: 1;
}

/* Logo como bloque CSS */
.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 1.4rem;
  color: #fef3c7;
  text-transform: uppercase;
  position: relative;
}

/* Logo circular con fondo y borde dorado */
.logo-section::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url('../../../assets/images/carnicesLogoDorado.png'); /* tu logo en assets */
  background-size: cover;
  background-position: center;
   
  /*background-color: rgba(0, 0, 0, 0.25);  fondo suave 
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.45);*/
  transition: all 0.3s ease;
}

/* Hover efecto premium */
.logo-section::before:hover {
  transform: scale(1.15);
}

/* Ajuste responsivo */
@media (max-width: 768px) {
  .app-header {
    height: 70px;
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
  }

  .logo-section::before {
    width: 50px;
    height: 50px;
    border: 2px solid #f59e0b;
  }

  .logo-section::before:hover {
    transform: scale(1.12);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.45);
  }

  .app-name {
    display: none;
  }

  .user-email {
    display: none;
  }

  .header-left,
  .header-right {
    gap: 0.5rem;
  }
}

/* Nombre de la app */
.app-name {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

/* Botones toolbar */
mat-toolbar button {
  color: #fcd34d;
  text-transform: none;
  font-weight: 500;
  transition: color 0.3s, transform 0.2s;
}

mat-toolbar button:hover {
  color: #ffffff;
  transform: translateY(-1px);
}

/* Carrito */
.cart-button mat-icon {
  transition: transform 0.2s, color 0.3s;
}

.cart-button:hover mat-icon {
  transform: scale(1.2);
  color: #ef4444;
}

/* Usuario */
.user-email {
  font-size: 0.8rem;
  margin-right: 10px;
  color: #fde68a;
  font-style: italic;
}

/* Link activo */
.active-link {
  font-weight: bold;
  color: #f59e0b !important;
}

/* Overlay de menú */
::ng-deep .cdk-overlay-container,
::ng-deep .cdk-overlay-pane {
  z-index: 2000 !important;
}
